<div class="to-follow-ctn">
  <div class="user-details">
    <div class="d-flex justify-content-center">
    <%= image_tag 'add-icon.svg' , class: "follow-img", size: "36x36", alt: "Follow User" %>
    <%= image_tag 'Karthick.jpg' , class: "user-img", size: "80x80", alt: "User image" %>
    <%= image_tag 'card-list.svg' , class: "card-list-img", size: "36x36", alt: "Follow User" %>
    </div>
    <div class="user-info">
      <div class="name"><%= current_user.fullname %></div>
      <div class="username"> @<%= current_user.username %></div>
    </div>
    <hr />
    <div class="follow-details d-flex justify-content-center follow-info">
      <div> <span class="count">  <%= @user.following_list.count  %> </span> Tweets </div>
      <div> <span class="count">  <%= @user.following_list.count  %> </span> Following </div>
      <div> <span class="count">  <%= @user.following_list.count  %> </span> Followers </div>
    </div>
    <hr />
  </div>
<%# 
  <div class="user-details">
    <div class="user-card">
      
    </div>
    <div class="follow-details">
    <div class="fullname">
        
      </div>
      <div>
        <span >  current_user.following_list.count </span> Followings
      </div>
      <div>
        <span > <%= current_user.followers_list.count  </span> Followers
      </div>
    </div>
  </div> %>

 
  <div class= "following-ctn">
    <div class= "following-title">
      Followed by
    </div>
    
    <div class="follow-user-list">
      <%= render partial: 'user-card', collection: @users, as: :user  %>
    </div>
  </div>

</div>